@import url(index.css);
@import url(SeccaoDeIntroducao.css);
:root[theme="claro"] {
    --cor-branca: #fff;
    --cor-azul: #0092ed;
    --cor-azul-claro: #0092ed3e;
    --cor-azul-transparente: #0092ed4b;
    --cor-cinza: #676767;
    --cor-cinza-a: #bebebe;
    --cor-dark: #000;
    --cor-dark-inverso: #fff;
    --cor-preta: #000;
    --cor-preta-a: #1e1e1e;
    --cor-preta-b: #3b3b3b;
    --cor-preta-transparente: #ffffffa2;
    --cor-do-inpuSearchMob: #000;
    --cor-lilas: #d000ff;
    --cor-lilas-transparente: #d000ff5b;

    --cor-do-fundo-do-site: #d8d8d8;
    --cor-do-header: #fff;
    --cor-do-link-do-header: #000;
    --cor-do-hover: #006bae;
    --cor-do-hover-cinza: #d1d1d1;
    --cor-do-submenu: #3a4a55;
    --cor-do-placeholder: #999999;
    --cor-da-secc-input: #006eff27;
    --cor-do-brilho: #dedede;
    --cor-mit: #cccbcb;
    --cor-do-fundo-intro: #b5acd1;
    --cor-de-texto-cinza: #292929;

}
:root[theme="escuro"] {
    --cor-branca: #fff;
    --cor-azul: #0092ed;
    --cor-azul-claro: #0092ed3e;
    --cor-azul-transparente: #0092ed30;
    --cor-cinza: #676767;
    --cor-cinza-a: #bebebe;
    --cor-preta: #000;
    --cor-preta-transparente: #000000a2;
    --cor-dark: #fff;
    --cor-dark-inverso: #000;
    --cor-lilas: #d000ff;
    --cor-lilas-transparente: #d000ff38;

    --cor-do-fundo-do-site: #242424;
    --cor-do-header: #202020;
    --cor-do-link-do-header: #ffffff;
    --cor-do-hover: #006bae;
    --cor-do-hover-cinza: #313131;
    --cor-do-submenu: #3a4a55;
    --cor-do-placeholder: #686868;
    --cor-do-inpuSearchMob: #fff;
    --cor-da-secc-input: #006eff27;
    --cor-do-brilho: #7c7c7c;
    --cor-mit: #282828;
    --cor-do-fundo-intro: #222028;
    --cor-de-texto-cinza: #acacac;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .3s;
}
html {
    scroll-behavior: smooth !important;
  }
body {
    background-color: var(--cor-do-fundo-do-site);
    font-family: "Poppins", sans-serif;
    transition: .3s;
}
body::-webkit-scrollbar{
    background-color: var(--cor-do-fundo-do-site);
    width: 8px;
    border-radius: 100px;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--cor-azul);
    width: 8px;
    border-radius: 100px;
}
.PanoDoHeader {
    width: 100%;
    height: 100vh;
    background-color: #0000005f;
    backdrop-filter: blur(2px);
    position: fixed;
    display: none;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    cursor: url(/src/Imagens/fechar.png), pointer;
}
.TextoGradiente {
    background: linear-gradient(to right, var(--cor-lilas), var(--cor-azul));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.BtnLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.LinksMenuEntrando {
    opacity: 0;
    animation: appearAnimation 1s ease forwards;
}
.Lme1 {
    animation-delay: .1s;
}
.Lme2 {
    animation-delay: .2s;
}
.Lme3 {
    animation-delay: .3s;
}
.Lme4 {
    animation-delay: .4s;
}
.Lme5 {
    animation-delay: .5s;
}
.Lme6 {
    animation-delay: .6s;
}

.AsIntrosDasSeccaoes {
    width: 100%;
    color: var(--cor-dark);
    padding: 100px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
    transition: .3s;
    background-color: var(--cor-dark-inverso);
}
.AsIntrosDasSeccaoes .IntroDaSeccao h1{
    transition:none !important;
}
.AsIntrosDasSeccaoes .ParagrafoDaIntro{
    margin: 0 auto;
    text-align: center;
    margin: 20px 0;
    line-height: 22px;
    width: 100%;
    max-width: 700px;
    font-weight: 400;
    color: var(--cor-cinza);
    transition: .3s;
}
.AsIntrosDasSeccaoes .OsCardsDeDestaques {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 100rem;
}
.AsIntrosDasSeccaoes .OsCardsDeDestaques .DestaqueCard {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.1em;
    border-radius: 5px;
    margin: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: var(--cor-lilas);
    color: var(--cor-branca);
}
.AsIntrosDasSeccaoes .OsCardsDeDestaques .DestaqueCard span{
    margin-bottom: 20px;
}
