@import url(index.css);

.SeccaoDeIntroducao {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 120px 50px 50px 50px;
    border-radius: 0 0 20px 20px;
    user-select: none;
}
.DescricaoDaIntro {
    width: 100%;
    max-width: 700px;
}
.SeccaoDeIntro {
    display: flex;
    flex-direction: column;
    color: var(--cor-dark);
}
.SeccaoDeIntro .MiniIntro {
    background-color: var(--cor-mit);
    margin-bottom: 20px;
    width: 371px;
    padding: 5px 8px;
    color: var(--cor-dark);
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .7em;
    border-radius: 100px;
}
.SeccaoDeIntro .Titulo {
    margin: 20px 0;
    font-weight: 450;
    font-size: 2.3em;
    width: 100%;
}
.SeccaoDeIntro .PequenaDescricao {
    font-weight: 300;
    margin-bottom: 40px;
    color: var(--cor-de-texto-cinza);
    width: 100%;
    font-size: 1.2em;
    line-height: 30px;
}
.SeccaoDeIntro .IntroBtn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.SeccaoDeIntro .IntroBtn a {
    text-decoration: none;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px;
    font-size: 1em;
    padding: 20px 15px;
    box-shadow: 3px 4px 4px 0px #0000003e;
    font-weight: 450;

    &:hover {
        color: var(--cor-branca);
        background: linear-gradient(to right, var(--cor-lilas), var(--cor-azul));
    }
}

.SeccaoDeIntro .IntroBtn .Qtc {
    color: var(--cor-branca);
    background-color: var(--cor-azul);
    padding-right: 35px;
}
.SeccaoDeIntro .IntroBtn .QtcMob {
    display: none;
}
.SeccaoDeIntro .IntroBtn .Qe {
    background-color: var(--cor-mit);
    color: var(--cor-dark);
    border-radius: 100px;
}
.SeccaoDeIntro .ContadorDeServicos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    gap: 10px;
}
.SeccaoDeIntro .ContadorDeServicos div {
    width: 100%;
    max-width: 180px;
    padding: 10px;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid var(--cor-de-texto-cinza);
        transform: scale(1.1);
    }
}
.SeccaoDeIntro .ContadorDeServicos .ProjectosFeitos::after {
    content: 'Projectos Feitos';
    position: absolute;
    color: var(--cor-de-texto-cinza);
    height: 20px;
    font-weight: bold;
    border: 1px solid var(--cor-de-texto-cinza);
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 5px;
    font-size: .6em;
    border-radius: 100px;
    margin: 10px;
}
.SeccaoDeIntro .ContadorDeServicos .ProjectosEmAndamento::after {
    content: 'Projectos em Andamento';
    position: absolute;
    color: var(--cor-de-texto-cinza);
    height: 20px;
    font-weight: bold;
    border: 1px solid var(--cor-de-texto-cinza);
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 5px;
    font-size: .6em;
    border-radius: 100px;
    margin: 10px;
}
.SeccaoDeIntro .ContadorDeServicos .ProjectosRequisitados::after {
    content: 'Projectos Requisitados';
    position: absolute;
    color: var(--cor-de-texto-cinza);
    height: 20px;
    font-weight: bold;
    border: 1px solid var(--cor-de-texto-cinza);
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 5px;
    font-size: .6em;
    border-radius: 100px;
    margin: 10px;
}
.SeccaoDeIntro .ContadorDeServicos .numero {
    font-size: 2em;
    font-weight: 900;
    margin-top: 20px;
}
.SeccaoDeIntro .ContadorDeServicos .descnum {
    font-size: .8em;
    color: var(--cor-de-texto-cinza);
    line-height: 20px;
}
.SeccaoDeIntroducao .ImagemDaIntroducao img {
    width: 500px;
}
